.wrap {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: hotpink;
	padding: 10px;
}

.header {
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
	background-color: violet;
}

.menu{
	padding: 10px;
	background-color: violet;
	margin-bottom: 10px;
}
.row{
	margin-left: 20px;
	margin-right: 20px;
	
}

.badan{
	float: left;
	padding: 10px;
	background-color: violet;
	width: 20%;
	height: 300px;
}
.content{
	float: right;
	background-color: violet;
	width: 77.5%;
	height: 20em;
}
.footer{
	background-color: violet;
	padding: 10px;
	text-align: center;
	
}